#root {
  max-width: none;
  margin: 0;
  padding: 0;
  text-align: left;
}

.register-page, .login-page {
  padding: 40px 16px;
  max-width: 700px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.register-form, .login-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: min(400px, 100%);
  margin: 0 auto;
  margin-top: 24px;
}

.register-button, .login-button {
  padding: 10px;
  border: none;
  border-radius: 10px;
  background-color: #000;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}
